
    /* EXERCISE 1
          For all Albums we'd like to have a consistent style.
          Create a class for:
          - The album container
          - The album cover
          - The album title
          - The album group / singer / dj
          - The album genre
          - The album duration
          - etc
       */
/* main{
    background-color:black;
} */

@font-face{
    font-family:'flames';
    src: url('johnnytorch.ttf')  format('truetype'); /* Safari, Android, iOS */
}
   

.container,
.album-review{
    /* margin-top:5rem;
    margin-bottom: 5rem; */

}

.album-review{
    text-align:center;
    background-color:rgb(20,20,20);
    color:white;
}



.album-container{
  
}

.album-cover{
}


.navbar{
    background-color:rgb(20,20,20);
}

.navbar-brand{
    font-family:flames;
}


.album-genre,
.album-duration{
    color:rgb(190, 190, 190);
    font-size:small;
} 

.album-artist{


}

.album-genre{


}

.album-duration{


}

.jumbotron-fluid{
color:white;
background-image: url('stage-2.jpeg');
background-position: 25px 0px;
background-size: cover;
background-color: rgba(255, 70, 70 , .8);
background-blend-mode: multiply;
}




