
    /* EXERCISE 1
          For all Albums we'd like to have a consistent style.
          Create a class for:
          - The album container
          - The album cover
          - The album title
          - The album group / singer / dj
          - The album genre
          - The album duration
          - etc
       */
/* main{
    background-color:black;
} */

.album-review{
    text-align:center;
    background-color:black;
    color:white;
}



.album-container:hover{
    transform: scale(1.05);
    transition: 750ms;
    border-radius:3px;
}

.album-title{


}

.album-cover{
    box-shadow: .5px 2px 4px rgba(190, 190, 190, .5);
}


.navbar{

    background-color:rgb(0,0,0);
    
}

.navbar-brand{
    font-family:arial;
    font-size:3em;
    letter-spacing: .1em;
}


.album-genre,
.album-duration{
    color:rgb(190, 190, 190);
    font-size:small;
} 

.album-artist{
    color:#dc3545;
}

.album-genre{


}

.album-duration{


}

.rating{
    background-color:white;
    padding:1em;
}

.bg-overlay-1 {
    color:white;
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("stage.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 400px;
    padding-top: 50px;
}

.bg-overlay-2 {
    color:white;
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("nipsey-hussle-performing-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center bottom;
    color: #fff;
    height: 100%;
    padding-top: 50px;
    z-index: -1;
}

.bg-overlay-3 {
    color:white;
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("hopsin-4.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center top;
    color: #fff;
    height: 100%;
    padding-top: 50px;
    z-index: -1;
}

/* .bg-img{
    height:768px;
}
 */


